@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'sans-serif';
  overflow: hidden;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

canvas {
  z-index: 1 !important;
}