.main {
  background: var(--page-bg);
  background-size: 300%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.main-page-about-init {
  width: 25px;
  height: 25px;
  color: var(--text-color);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 23px;
}

.main-page-apps-init {
  width: 25px;
  height: 25px;
  color: var(--text-color);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 23px;
}

.main-page-games-init {
  width: 25px;
  height: 25px;
  color: var(--text-color);
  position: absolute;
  top: 10px;
  left: 45px;
  cursor: pointer;
  font-size: 23px;
  z-index: 999;
}

.main-page-about-init:hover, .main-page-apps-init:hover, .main-page-games-init:hover {
  transform: scale(1.1);
}

.main-page-about-init, .main-page-apps-init, .main-page-games-init {
  transition: 0.15s ease;
}

.app {
  content: none;
}

.main {
  background: var(--page-bg);
  background-size: 300%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#main-page-content {
  padding: 30px 50px;
  border: 2px solid var(--page-border-color);
  border-radius: 6px;
  position: absolute;
  top: calc(50%);
  overflow-y: auto;
  height: 140px;
  left: 50%;
  background: var(--main-bg);
  width: 60%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.25s ease height;
}

.main-page-about-init {
  width: 25px;
  height: 25px;
  color: var(--text-color);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 23px;
  z-index: 999;
}

.main-page-apps-init {
  width: 25px;
  height: 25px;
  color: var(--text-color);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 23px;
  z-index: 999;
}

.main-page-about-init:hover, .main-page-apps-init:hover {
  transform: scale(1.1);
}

.main-page-about-init, .main-page-apps-init {
  transition: 0.15s ease;
}

.app {
  width: 180px;
  transition: 0.2s ease;
  height: 234px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.app h3 {
  color: var(--text-color);
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.app:hover {
  background: rgb(255, 255, 255, 0.1);
}

.app img {
  width: 90%;
  height: auto;
  margin-bottom: 50px;
  max-height: 180px;
}

#inside-content-scroller {
  min-height: calc(100% + 1px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.15s ease;
  opacity: 0;
}

#main-page-content::-webkit-scrollbar {
  width: 3px;
}

#main-page-content::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 3px;
}

#main-page-content::-webkit-scrollbar-track {
  background: var(--main-bg);
}

#main-page-content h2 {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#main-page-content h2, #main-page-content h1, #main-page-content h5 {
  color: var(--text-color);
}

#no-bottom-margin {
  margin-bottom: 0;
}

.settings-box {
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  min-height: 100px;
}

.settings-box h2 {
  width: 100%;
  margin-top: 0;
}

.type-sep {
  width: 50%;
  background: var(--text-color);
}

.apps-hidden {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.down-chevron {
  vertical-align: bottom;
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.1s ease;
}

.flip-chevron {
  transform: rotate(180deg);
}

.settings-button {
  background: var(--main-bg);
  border: 3px solid var(--text-color);
  padding: 10px 15px;
  margin: 3px;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 3px;
}

.settings-input {
  background: var(--main-bg);
  padding: 10px;
  margin: 3px;
  border: 3px solid var(--text-color);
  color: var(--text-color);
  width: 250px;
  border-radius: 3px;
}

.settings-input::placeholder {
  color: var(--placeholder);
}

.settings-input, .settings-button {
  transition: 0.1s ease;
  outline: none;
}

.settings-input:hover, .settings-button:hover, .settings-box select:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.settings-input:focus {
  background: rgb(255, 255, 255, 0.15);
}

#box-container {
  color: var(--text-color);
  columns: 4 auto;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.settings-box select {
  padding: 10px;
  border: 3px solid var(--text-color);
  border-radius: 3px;
  background-color: var(--main-bg);
  color: var(--text-color);
  appearance: none;
  padding-right: 30px;
  outline: none;

  background-image:
    linear-gradient(45deg, transparent 50%, var(--text-color) 50%),
    linear-gradient(135deg, var(--text-color) 50%, transparent 50%);
  background-position:
    calc(100% - 14px), 
    calc(100% - 9px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;

  cursor: pointer;
}